{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <!-- required meta tags -->
        <meta charset="UTF-8">
        <title>
            {% block title %}The Village website
            {% endblock %}
        </title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <!-- header area start   -->
        {% block header %}
        <header>
            <!-- navbar area start-->
            {% include('include/navbar.html.twig') %}
            <!-- ./navbar area start-->

            <!-- image of the village -->
            <div class="bg-header"></div>
            <!-- ./image of the village -->
        </header>
        {% endblock %}
        <!-- ./header area start   -->

        <main>
            {% block body %}{% endblock %}
        </main>
        <hr>

        {% block footer %}
        <!-- footer area start -->
        {% include('include/footer.html.twig') %}
        <!-- ./footer area start -->
        {% endblock %}

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>