{% extends 'base.html.twig' %}

{% block title %}Create an event
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Creating an event</h1>
        <br>
        {{ include('admin/event/_form.html.twig', { form: form, save_button: 'Create', back_button: 'Return'}) }}
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('admin') }}
{% endblock %}
