{% extends 'base.html.twig' %}

{% block title %}Edit an event
{% endblock %}

{% block body %}

<div class="container mt-4">
    <h1>Editing the selected event</h1>
    <br>
    {{ include('admin/event/_form.html.twig', { form: form, save_button: 'Edit', back_button: 'Return' }) }}
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('admin') }}
{% endblock %}