<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    # Determine the RewriteBase automatically and set it as environment variable
    # If the requested filename exists, simply serve it
    # We only want to let Apache serve files and not directories 
    RewriteCond %{REQUEST_FILENAME} !-f    
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 302 ^/$ /index.php/
    </IfModule>
</IfModule>